/* ----------------------------------------------------
*Project: Front-End Developppement Ajax/Jquery/.Json  -   
*@Date: 23 janvier 2020                               -
*@Authors: Youness & Dale                             -             
------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

body {
  background: #bfbfbf url("../assets/background.jpg") repeat-x;
  background-size: contain;
  font-family: Arial, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: row;
}

header {
  padding: 30px 0;
}
header h1 {
  font-size: 40px;
  text-align: center;
  font-family: "Limelight", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #000;
}

/* MAIN- MENU */
#main-menu ul {
  position: relative;
  top: 185px;
  right: 55px;
  height: 50px;
  display: none;
}

.description {
  left: 140px;
  width: 240px;
  height: 400px;
  padding: 25px;
  background: #fff;
}
.description h2 {
  padding-top: 15px;
  font-size: 30px;
  font-family: "Limelight", sans-serif;
  text-align: center;
  color: #333;
  text-transform: uppercase;
}
.description h3 {
  margin-top: 15px;
  padding: 15px;
  font-size: 26px;
  font-family: "Lobster", sans-serif;
  background: #d70000;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  border-radius: 5px;
}
.description p {
  padding-top: 25px;
  font-size: 22px;
  font-family: "Lobster", sans-serif;
  color: #000;
  text-align: center;
}

/* BUTTONS-MENU*/
#buttons-menu {
  float: left;
  width: 100%;
  padding: 170px 0 50px 0;
}
#buttons-menu ul {
  float: left;
  position: relative;
  left: 50%;
  text-align: center;
}
.button {
  float: left;
  width: 150px;
  margin-left: 30px;
  padding: 10px 0;
  position: relative;
  right: 50%;
  text-shadow: 1px 1px 1px #000;
  font-family: "Lobster", sans-serif;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75);
  background: #333;
  border: 2px solid #b70000;
  font-size: 22px;
  cursor: pointer;
  opacity: 0.9;
}
